<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Information</title>
</head>
<body>
    <h1>Information</h1>
    <table>
        <thead>
    <tr>
        <th>Name</th>
        <th>Birtday</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Note</th>
    </tr>
        </thead>
        <tbody>
            <% informations.forEach(function(information) { %>
                <tr>
                    <td><%= information.name %></td>
                    <td><%= information.birthday  %></td>
                    <td><%= information.phoneNumber  %></td>
                    <td><%= information.email  %></td>
                    <td><%= information.note  %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
</body>
</html>